In [ ]:
import pandas as pd

In [32]:
df = pd.read_csv("dwarf_stars.csv")
df.head()

   Unnamed: 0                      Star_name  Distance Mass  Radius
0           0  SDSS J000013.54+255418.6 [de]      46.1   48    0.99
1           1        2MASS J00040288-6410358     192.0   19    1.63
2           2                      LHS 102BC       NaN  NaN     NaN
3           3        2MASS J00242463-0158201      37.7   79    1.09
4           4      2MASS J00250365+4759191AB     143.0  NaN     NaN

In [33]:
df.columns

Index(['Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [34]:
df.dtypes

Unnamed: 0      int64
Star_name      object
Distance      float64
Mass           object
Radius        float64
dtype: object

In [35]:
df = df.dropna()
df.dtypes

Unnamed: 0      int64
Star_name      object
Distance      float64
Mass           object
Radius        float64
dtype: object

In [36]:
df["Radius"] = 0.102763*df["Radius"]

In [44]:
df['Mass']=df['Mass'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [45]:
df["Mass"] = 0.000954588*df["Mass"]

In [51]:
df.head()
df.columns
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [53]:
df.head()
df.reset_index(drop=True,inplace=True)

In [54]:
df.to_csv("unit_converted_stars.csv")

In [55]:
df.dtypes

Star_name     object
Distance     float64
Mass         float64
Radius       float64
dtype: object